.ql-expanded-book {
  width:100%;
  height:100%;
}
.ql-expanded-book .expanded-container .delete {
  color: #d84315 !important;
}
.mat-dialog-container {
  width:1000px !important;
  height: 600px;
}
.ql-expanded-book .expanded-container .divider_ {
  height: 100%;
  width:7% !important;
}
.ql-expanded-book .controlDivider {
  margin-top:2% !important;
}
.ql-expanded-book .expanded-container .fullWidth {
  width: 90px !important;
}
.ql-expanded-book .expanded-container .fullWidth1 {
  width: 6% !important;
}
.ql-expanded-book .expanded-container img {
  margin-bottom: 3% !important;
}
.ql-expanded-book .mat-list-item {
  height:80px !important;
}
.ql-expanded-book svg {
  width: 100px;
  height: 90px;
}
.ql-expanded-book image {
  width: 100px;
  height: 90px;
}
.date-container {
  height:100%;
  width: 10%;
  margin-top: 2% !important;
}
.ql-expanded-book .addBook {
  margin-left: 57%;
}
.ql-expanded-book .actions button {
  height:40px !important;
  width: 90px !important;
  margin-top:4% !important;
}
.ql-expanded-book .editBook {
  margin-top: 2% !important;
}
.ql-expanded-book .list-items {
  width:100%;
  height: 500px;
}
.ql-expanded-book .actions {
  display: flex;
  width:100%;
  height: 60px;
}
.ql-expanded-book .mat-typography p {
  margin-bottom: 0px;
}
.ql-expanded-book .marginik {
  height:100%;
  width:40px;
}
.ql-expanded-book .divider {
  height:100%;
  width: 9%;
}
.ql-expanded-book .information-title p {
  font-weight: bold;
  font-size: 16px;
  color: dimgray;
}
